@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E2E4F0; /* Light mode background */
  --foreground: #171717; /* Light mode foreground text color */
  --card-background: #ffffff; /* Light mode card background */
  --dark-background: black; /* Dark mode background */
  --dark-foreground: #f0f0f0; /* Dark mode foreground text color */
  --dark-card-background: #333333; /* Dark mode card background */
}

[data-theme='light'] {
  --background: #E2E4F0; /* Light mode body color */
  --foreground: #171717; /* Light mode text color */
  --subcontainer-background: #ffffff; /* Light mode subcontainer background */
}

[data-theme='dark'] {
  --background: black; /* Dark mode body color */
  --foreground: #f0f0f0; /* Dark mode text color */
  --subcontainer-background: #333333; /* Dark mode subcontainer background */
}

body {
  --heading-font: 'Montserrat' , sans-serif;
  font-family: 'Roboto', sans-serif;
  
  background-color: var(--background);
  color: var(--foreground);
}

.main-content {
  position: relative;
  z-index: 0; /* Ensure your main content stays above the blur layer */
}

/* Custom scrollbar styling for WebKit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}

/* Hide scrollbar arrows (for WebKit browsers) */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons (arrows) */
}
